@media (min-width: 48rem)
{
    html
    {
        font-size: 16px;
    }
}
@media (min-width: 58rem)
{
    html
    {
        font-size: 20px;
    }
}

/* global override of display items */
h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: $font-family-display;
    // override
    font-weight: 400;
}

.sidebar,
.content
{
    font-family: $font-family-content;
}
